@import "unite-gallery.css";
@font-face {
	font-family: 'quattrocento';
	src: url(../fonts/quattrocentosans-regular.ttf) format('truetype');
	src: url(../fonts/quattrocentosans-regular.woff) format('woff'), url(../fonts/quattrocentosans-regular.eot);
}
@font-face {
	font-family: 'black-bamboo';
	src: url(../fonts/black-bamboo.ttf) format('truetype');
	/* The .eot & .woff files caused the font to render improperly. In IE fonts will fall back to quattrocento instead*/
}
/* ========== GLOBAL STYLES AND RESET RULES ========== */
* {
	margin: 0;
	padding: 0;
	border: 0;
    box-sizing: border-box;
}
article, aside, details, figcaption, figure, footer, header, main, nav, section, summary, input, select, textarea, label {
    display:block;
}
body {
	background-color: rgb(2,10,16);
	position: relative;
}
/* ========== END GLOBAL STYLES AND RESET RULES ========== */
/* ========== Typography ========== */
body {
    font-family: 'Hind', sans-serif;
    color: rgb( 228, 225, 221);
}
h1,
h2,
.home_action_text,
.home_cta {
    font-family: 'black-bamboo', 'Hind', sans-serif;
    color: rgb(244,182,61);
}
h2 {
	font-size: 2rem;
    line-height: 2.2rem;
	margin-bottom: 1.5rem;
}
h3 {
	font-size: 1.5rem;
	margin-bottom: 1.5rem;
}
p {
	font-size: 1.2rem;
    line-height: 1.5rem;
}
h2 a {
	text-decoration: none;
}
li {
    list-style-type: circle;
    margin-left: 3rem;
}
/* ========== END Typography ========== */
/* ========== Basic Layout and Spacing ========== */
/* Set up with the base layout immediately followed by any exceptions to the base layout */
section {
	margin: 2.5rem 0 1rem;
}
section:first-child {
    padding-top: 2.5rem; /* Prevents hamburger menu from covering text on smooth scroll */
}
main section {
    margin: 0;
}
main,
aside {
    margin: 1rem;
}
blockquote {
    margin: 2rem;
    border-left: solid 7px rgb(21, 41,22);
}
blockquote * {
    margin-left: 2rem;
}
article + article {
    margin-top: 3rem;
}
h1 {
    margin: 1.6rem;
}
main h1 {
	margin-left: 0;
}
p + p,
form,
input#submit,
.home_cta_buttons {
    margin-top: 1rem;
}
* + h2 {
	margin-top: 4rem;
}
ul {
	margin: 2rem 0;
}
ol {
	margin: 0 3% 3%;
}
ol li {
	margin: 0.25% .5%;
}
input[type="text"],
input[type="tel"],
input[type="email"],
input[type="search"],
select,
textarea {
	width: 100%;
	padding: 0.75rem;
	margin-bottom: 1rem;
    box-shadow: inset 2px 3px 5px rgba(2, 10, 16, 0.3);
}
.home h1,
.hide-all,
.hide {
	display: none;
}
img {
	width: 100%;
}
.single figure {
	margin: 2rem;
}
/* ========== END Basic Layout and Spacing ========== */
/* ========== Links Styles========== */
a:link {
	color: rgb(244,182,61);
}
a:hover {
    color: rgb( 228, 225, 221);
}
a:visited,
a:active {
	color: rgba(244,182,61,.8);
}
/* ========== END Link Styles ========== */
/* ========== Button Styles ========== */
button,
input#submit,
input[type="button"] {
    padding: 0.5rem;
}
button,
input#submit,
input[type="button"],
.button a:link,
.button a:visited {
    padding: 0.5rem;
    border-radius: 7px;
    border: solid 3px rgb(244, 182, 61);
    background: none;
    color: rgb(244, 182, 61);
    font-family: 'black-bamboo','Hind', sans-serif;
    transition: color 1s border 1s filter 0.5s;
    text-align: center;
    display:block;
}
button:hover,
input#submit:hover,
input[type="button"]:hover,
.button a:hover {
    filter: invert(30%);
    transition: filter 0.25s;
}
.button a:active,
input#submit:active,
input[type="button"]:active,
button:active {
    color: #000;
    border-color: rgb(2, 10, 16);
    filter: drop-shadow(0 0 5px #fff);
    transition: color 1s border 1s filter 0.5s;
}
.button a:link,
.button a:visited,
.button a:active {
    text-decoration: none;
}
/* ========== END Button Styles ========== */
/* ========== Nav Styles ========== */
nav ul {
	width: 100%;
	text-align: center;
	padding: 1% 0;
	margin: 0;
}
nav ul li {
	display: inline;
	padding: 0 2%;
    margin-left: 0
}
nav ul li a:link,
nav ul li a:visited {
	color: rgb(244,182,61);
	text-decoration: none;
}
nav ul li a:hover,
nav ul li a:active {
	color: rgb( 228, 225, 221);
    text-decoration: underline;
}
.main-menu {
    display: flex;
    align-items: center;
    justify-content: center;
}
nav {
    width: 100%;
}
/* ========== END Nav Styles ========== */
/* ======== Hamburger Menu Styles ========*/
.hamburger,
.hamburger__close {
	display: none;
}
.mobile-nav_display ul {
  width: 75%;
  margin: auto;
  -webkit-padding-start: 0;
}
@media (max-width: 700px) {
	body {
		overflow-x: hidden;
	}
	.hamburger,
	.hamburger__close {
	  width: 2rem;
      height: 2rem;
      padding: 1rem;
	  position: fixed;
      top: 0.5rem;
      right: 0.5rem;
	  bottom: 1rem;
	  cursor: pointer;
	  display: block;
	  z-index: 9981;
      border-radius: 50%;
      background: rgba(2, 10, 16, 0.6);
      animation: spin-in 1s;
      box-sizing: content-box; /* Box-sizing will make it disappear */
	}
	.nav_hide {
	  display: none;
	}
	nav {
	  position: fixed;
	  width: 100%;
	  height: 100vh;
	  background-color: rgba(2,10, 16, 0.97);
	  top: 0;
	  z-index: 9980;
	  right: -105%;
	  opacity: 0;
	  transition: right 0.3s ease-in, opacity 0.25s ease-in;
	  display: block;
	}
	nav ul li {
	    display: block;
	    text-align: center;
		font-size: 1.2em;
        margin: 1em;
	}
	nav.mobile-nav_display {
	  right: 0 !important;
	  top: 0;
	  opacity: 1;
	  transition: right 0.3s ease-in, opacity 0.3s ease-in;
	  display: block;
	}
}
/* ======== END Hamburger Menu Styles ========*/
/* ========== Home Styles ========== */
section.splash p {
	width: 85%;
	margin: auto;
	text-align: center;
}
#container {
    margin: 1.5rem;
}
.home_call-to-action {
    width: 100%;
    position: absolute;
    top: calc(100vh - 8rem);
}
p.home_action_text a:link {
	text-decoration: none;
}
.home_action {
    width: 100%;
}
img.action {
	width: 8%;
	max-width: 40px;
}
img.thumb {
	max-width: 300px;
}
.logo {
	margin-top: 30%;
	width: 60%;
	max-width: 220px;
}
.bkg {
	background-image: url(../img/bkg.jpg);
	background-attachment: fixed;
	background-position: center;
	background-repeat: no-repeat;
	min-height: 100vh;
    position: relative;
}
.tagline {
	font-family: 'Hind', sans-serif;
	font-size: 1.1rem;
	color: rgb( 228, 225, 221);
	margin: 10% 0 20%;
	text-align: center;
}
.home_action_text {
	font-size: 1.4rem;
}
.home_action
img.arrow-bounce {
	animation-name: arrow-bounce;
	animation-duration: 1s;
	animation-iteration-count: infinite;
	animation-direction: alternate;
}
/* ========== END Home Styles  ========== */
/* ========== Project Styles  ========== */
.single-projects h1,
.single h1 {
    margin: 1.1rem 0;
}
.post-type-archive-projects article {
    padding-bottom: 5rem; /* Prevents img from covering skill icons */
}
img.pj_contact-icon {
    width: 4rem;
}
li.phone,
li.email {
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
li.email a:link {
    color: rgb( 228, 225, 221);
}
.pj_view-more_thumbs article h3 {
	width: 100%;
	height: 6rem;
    padding: 1rem 0.5rem;
    position: absolute;
    top: 0;
	background: -moz-linear-gradient(top, rgba(2,10,16,0.9) 0%, rgba(2,10,16,0.8) 60%, rgba(2,10,16,0) 100%);
	background: -webkit-linear-gradient(top, rgba(2,10,16,0.9) 0%,rgba(2,10,16,0.8) 60%,rgba(2,10,16,0) 100%);
	background: linear-gradient(to bottom, rgba(2,10,16,0.9) 0%,rgba(2,10,16,0.8) 60%,rgba(2,10,16,0) 100%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#e6020a10', endColorstr='#00020a10',GradientType=0 );
}
.pj_view-more_thumbs article h3 a {
	width: 100%;
	height: 100%;
}
.single-projects .projects_skills {
    display: none;
}
/* ========== END Project Styles ========== */
/* ========== Blog Index Styles ========== */
.blog main,
.post-type-archive-projects main {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}
article {
    position: relative;
	overflow: hidden;
}
.blog main article {
    margin: 0.25% 0.5%;
	width: 100%;
}
/* Hover FX */
.blog article h2,
.blog .date,
.blog article p:last-child {
    position: absolute;
}
.blog article h2,
.post-type-archive-projects article h2 {
    top: 1rem;
    left: 1rem;
    font-size: 2rem;
    line-height: 2.2rem; /* Black Bamboo font is caps only so descenders don't worry about overlap */
    text-shadow: 1px 3px 5px rgba(2, 10, 16, 0.4);
	margin-top: 0;
}
.blog .date {
    bottom: 60%;
    background: rgb(21,41,22);
    padding: 0.75rem 3rem 0.75rem 1rem;
    border-radius: 0 10px 10px 0;
	z-index: 60;
    left: -80%;
}
.blog article p:last-child {
	background: rgba(2, 10, 16, 0.9);
	top: 30%;
    bottom: 0;
    left: 105%;
    width: 100%;
    padding: 1.5rem 1rem;
    z-index: 50;
}
.blog article:hover p:last-child {
    left: 0;
}
.blog article:hover .date {
    left: 0;
}
.blog article:hover .date,
.date,
.blog article p:last-child,
.blog article:hover p:last-child {
    transition: left 0.5s;
}
.blog_post-meta li {
    list-style-type: none;
    margin-bottom: 4rem;
}
iframe {
    margin: 2rem;
}
pre {
    padding: 2rem;
    margin: 2rem;
    border-left: solid 5px rgb(21, 41, 22);
}
/* ========== END Blog Index Styles ========== */
/* ========== Project Archives Styles========== */
/* Note: Blog & Projects indexes share many styles */
article.projects {
    position: relative;
}
.projects_skills {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    align-items: bottom;
    position: absolute; /* Prevents article below from shifting on icon hover*/
    margin-top: 1rem;
}
li.pj_skills_icon {
    list-style-type: none;
    margin-left: 0;
    width: 4em;
    transition: width 0.75s ease;
}
li.pj_skills_icon:hover {
    transition: width 0.5s ease;
    width: 4.75em;
}
.pj_skills_icon a {
    width: 100%;
}
.post-type-archive-projects h2 {
    margin-top: 0.5rem;
}
/* ========== END Project Archives Styles ========== */
/* ========== Blog Styles ========== */
.blog_header {
    position: relative;
    margin: 2rem 1rem;
}
ul.blog_post-meta {
    list-style: none;
    margin: 0;
}
.blog_footer,
.blog_comments {
    margin-top: 3rem;
    text-align: left;
}
.avatar {
    width: 4rem;
    height: unset;
    margin-right: 1rem;
}
li.comment {
    list-style: none;
    margin-bottom: 1rem;
}
.comment-meta,
.comment-options
 {
    display: flex;
    align-items: center;
    margin-bottom: 1rem;
}
.comment-options p.comment_edit,
.comment-options p.reply {
    margin: 1rem 1rem 2rem 0;
}
#reply-title {
    padding-bottom: 1rem;
    margin-top: 3rem;
}
.single aside {
    background-color: rgba(21, 41, 22, 0.3);
    width: 90%;
    margin: 2rem auto;
}
ul.children { /* Replies to other comments */
    margin-left: 3rem;
}
.comment_text {
    padding: 1rem;
    background: rgb( 228, 225, 221);
    color: rgb(2, 10, 16);
    border-radius: 8px;
    margin-top: 1.5rem;
    position: relative;
}
.comment_text::before { /* Create speech bubble effect */
    content: '';
    width: 0;
    height: 0;
    border-bottom: 15px solid rgb( 228, 225, 221);
    border-right: 20px solid transparent;
    border-left: 2px solid transparent;
    position: absolute;
    bottom: 100%;
    left: 10%;
    transform: skewX(22deg);
}
#submit {
    font-size: 1.2rem;
}
form.search {
    display: flex;
    align-items: center;
}
.search .search-submit {
    margin-bottom: 1rem;
    margin-left: 1rem;
}
.sidebar-widget {
    margin-top: 3rem;
}
.single .blog_post-meta {
    justify-content: center;
}
.single .blog_post-meta li {
    color: rgb(160, 160, 150);
    margin-top: 0.25rem;
}
footer.blog_footer,
.single aside {
    padding: 1.5rem 1.5rem 2.5rem;
    border-radius: 10px;
    box-shadow: inset 2px 3px 5px rgba(20, 20, 20, 0.5);
}
footer.blog_footer {
    background-color: rgba(205, 200, 220, 0.5);
}
.single .wp-block-image .alignleft,
.single .wp-block-image .alignright {
	float: none;
	margin: 4rem auto 0 auto;
}
/* ========== END Blog Styles ========== */
/* ========== Contact Styles ========== */
.contact_intro,
.contact_listings,
.contact_form {
	margin: 2.5rem auto 0;
}
li.contact_email,
li.contact_phone {
	display: flex;
	align-items: center;
}
li.contact_email::before,
li.contact_phone::before {
    content: "";
	display: inline-block;
	width:4rem;
	height:4rem;
	background-size:contain;
	margin-right: 1rem;
}
li.contact_phone::before {
    background-image: url(../img/phone-icon.png);
}
li.contact_email::before {
    background-image: url(../img/email-icon.png);
}
div.nf-error-msg,
span.ninja-forms-req-symbol {
    color: rgb(244, 182, 61);
}
.nf-form-fields-required {
    margin-bottom: 1rem;
    color: rgb(175,175,175);
}
textarea {
	height: 100%;
	min-height: 70px;
}
label {
	font-size: 1rem;
    margin-bottom: 0.25rem;
    display: block;
}
.page-id-62 main {
	max-width: 600px;
}
/* ========== END Contact Styles ========== */
/* ========== 404 Page ========== */
#post-404 h2 {
    margin: 1rem;
}
/* ========== END 404 Page ========== */
/* ========== Media Query (more than 450px) ========== */
@media (min-width: 450px) {
    .blog_featured-img {
        width: 7rem;
    }
    .blog_featured-img img {
        box-shadow: inset 2px 3px 5px rgba(2, 10, 16, 0.5);
    }
    .single-projects h1,
    .single h1 {
        width: calc(100% - 7rem);
        height: 7rem;
        margin: 0;
        position: absolute;
        top: 0;
        left: 7rem;
        font-size: 2rem;
        line-height: 2.3rem;
        background: url(../img/star-fade-bkg.jpg) no-repeat;
        background-size: auto 100%;
        padding: 1rem;
        border-radius: 2px 0 0 2px;
        text-shadow: 1px 1px 4px rgba(50, 50, 50, 0.3);
        box-shadow: 2px 3px 5px rgba(2, 10, 16, 0.5);
    }
    ul.blog_post-meta {
        display: flex;
        justify-content: flex-start;
    }
    ul.blog_post-meta li + li {
        margin-left: 1.5rem;
    }
    .single aside {
        width: 80%;
    }
}
/* ========== END Media Query (more than 450px) ========== */
/* ========== Media Query (more than 550px) ========== */
@media (min-width: 550px) {
    .home_img-left,
    .home_img-right {
        display: grid;
        grid-template-rows: auto auto;
        grid-column-gap: 1rem;
    }
    .home_img-left {
        grid-template-columns: 1fr 2fr;
    }
    .home_img-right {
        grid-template-columns: 2fr 1fr;
    }
    .home_img-left figure,
    .home_img-right figure {
        grid-row: 1 / 3;
    }
    .home_img-left figure {
        grid-column: 1 / 2;
    }
    .home_img-right figure {
        grid-column: 2 / 3;
    }
    .home_img-left p,
    .home_img-left p {
        grid-row: 2 / 3;
        align-self: start;
    }
    .home_skill_title {
        grid-row: 1 / 2;
        align-self: end;
    }
    .home_cta_buttons {
        display: flex;
        justify-content: space-around;
    }
    .home_cta_buttons .button {
        width: 40%;
        padding: 0.5rem;
        margin: 1rem 0 2rem;
        font-family: 'Hind', sans-serif;
    }
    .home_cta_buttons .button a {
        vertical-align: middle;
    }
    .home_contact {
        max-width: 220px;
        margin: 1rem auto;
    }
    .pj_intro {
        margin: 6rem 0;
    }
    .single-projects .projects_skills {
        display: flex;
    }
}
/* ========== END Media Query (more than 450px) ========== */
/* ========== Media Query (more than 700px)  ========== */
@media (min-width: 700px) {
	header {
		padding: 0 2%;
    	width: 96%;
    	background-color: rgba(2,10,16,.8);
    	position: fixed;
    	top: 0;
    	z-index: 900;	/*Prevents it from sliding under gallery*/
	}
	main,
    h1 {
	    width: 80%;
	    margin: 2% auto;
	}
	nav ul {
		padding: 0;
	}
	h2.tagline {
		margin: 0 0 2%;
		padding: 0;
	}
	h2,
    p {
		padding-left: 0;
	}
	p.action {
		padding: 0.5%;
	}
	img.action {
		width: 2%;
		min-width: 35px;
	}
	.logo {
		width: 35%;
		min-width: 220px;
		max-width: 300px;
		margin-top: 10vh;
	}
    /* Home page */
    .home section:not(.splash),
    aside {
        margin: 2rem auto;
        max-width: 800px;
    }
    .home_img-left, .home_img-right  {
        grid-column-gap: 3rem;
    }
    .pj_view-more_thumbs {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
    }
    .blog main article,
    .pj_view-more_thumbs article {
    	width: 48%;
    }
    .pj_view-more_thumbs section {
        width: 98%;
    }
    .pj_view-more_thumbs article,
    .pj_view-more_thumbs section {
        margin: 1%;
    }
    ul.pj_view-more_contact {
        display: flex;
        margin-bottom: 4rem;
    }
    ul.pj_view-more_contact li + li {
        margin-left: 2rem;
    }
    .blog_header {
        width: 50%;
        max-width: 600px;
        margin: 3rem auto;
        z-index: 800;
    }
    .post-type-archive-projects article {
        width: 45%;
        margin-right: 5%;
        margin-top: 2%;
    }
    .pj_view-more_thumbs article h3 {
        font-size: 1rem;
        margin-bottom: 0.5rem;
    }
	.single .wp-block-image .alignleft {
		margin-right: 2.5rem;
		float: left;
	}
	.single .wp-block-image .alignright {
		margin-left: 2.5rem;
		float: right;
	}
}
/* ========== END Media Query (more than 700px) ========== */
@media (orientation: portrait) and (min-width: 700px) {
    .logo {
		margin-top: 18vh;
	}
	.page-id-62 main {
		margin-top: 5rem;
	}
}
/* ========== Media Query (more than 850px)  ========== */
@media (min-width: 850px) {
	h2.tagline {
		font-size: 1.4rem;
        margin-top: 2rem;
	}
	.page-id-62 main {
		margin-top: 10rem;
	}
}
/* ========== END Media Query (more than 850px) ========== */
/* ========== Media Query (more than 1000px)  ========== */
@media (min-width: 1000px) {
    .single-projects h1,
    .single h1 {
        padding-left: 3rem;
        font-size: 2.2rem;
    }
	article h2 {
		font-size: 1.8rem;
	}
	aside {
		width: 85%;
		margin: auto;
	}
	.logo {
		width: 25%;
		min-width: 300px;
		max-width: 380px;
	}
	.hide {
		display: block;
	}
	.hide img {
		display: inline-block;
		width: 4%;
		max-width: 30px;
		padding-right: 1%;
		vertical-align: middle;
	}
    .blog main article {
    	width: 32%;
    }
    .blog_header {
        max-width: 700px;
        z-index:800;
    }
    .pj_view-more_thumbs {
        flex-wrap: nowrap;
    }
    .pj_view-more_thumbs section {
        width: 25%;
        padding-top: 0;
    }
    .pj_view-more article {
        width: 30%;
    }
    .pj_view-more article + article {
        margin-left: 3%;
    }
	.single {
        display: grid;
        grid-template-columns: repeat( 12, 1fr);
        grid-template-rows: 15% auto auto auto;
        grid-column-gap: 3rem;
    }
    .blog_header {
        grid-row: 1 / 2;
        grid-column: 2 / 12;
        width: 40%;
    }
    .single main,
    .single aside {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }
    .single main {
        grid-row: 2 / 4;
        grid-column: 2 / span 7;
    }
    .single .sidebar,
    .single .project_widgets-container {
        grid-row: 2 / 3;
        grid-column: 9 / 12;
        margin-top: 1rem;
    }
    .single .pj_view-more {
        grid-row: 4 / 5;
        grid-column: 2 / span 7;
    }
    .post-type-archive-projects article {
        width: 30%;
        margin-right: 3%;
        margin-top: 2%;
    }
}
/* ========== END Media Query (more than 1000px) ========== */
/* ========== Media Query (more than 1300px) ========== */
@media (min-width: 1400px) {
    .blog main article,
    .post-type-archive-projects article {
    	width: 24%;
    }
    .post-type-archive-projects article {
        margin-right:1%;
    }
    .blog_header {
        margin-top: 4rem;
        margin-bottom: 2rem;
    }
    .single {
        grid-column-gap: 2rem;
    }
    .single .pj_view-more {
        grid-column: 3 / span 7;
        grid-row: 4 / 5;
        max-width: unset;
    }
    .single .pj_view-more h2 {
        font-size: 2rem;
    }
    .single .pj_view-more h3 a:link {
        text-decoration: none;
    }
    .single main {
        grid-row: 2 / 4;
        grid-column: 3 / span 7;
    }
    .single .sidebar,
    .single .project_widgets-container {
        grid-row: 2 / 3;
        grid-column: 10 / 12;
        margin-top: 1rem;
    }
}
/* ========== END Media Query (more than 1300px)  ========== */
/* ========== Call to Action Animation   -========== */
@keyframes arrow-bounce {
	0% {
		margin-top: 0;
	}
	100% {
		margin-top: 10px;
	}
}
	@-webkit-keyframes arrow-bounce {
		0% {
			margin-top: 0;
		}
		100% {
			margin-top: 10px;
		}
	}
	@-moz-keyframes arrow-bounce {
		0% {
			margin-top: 0;
		}
		100% {
			margin-top: 10px;
		}
	}
/* ========== END Call to Action Animation   -========== */
/* ========== Spin Animation ========== */
@keyframes spin-in {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
        transform: rotate(360deg);
    }
}
/* ========== END Spin Animation ========== */
